html, body {
    background: url("TechTestComponents/Images/Background/UI_Background.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;     
}

.container {
    min-width: 65%;
    max-height: 80%;
    text-align: center;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-55%);
    transform: translate(-50%,-55%);
}
  
.scaler {
    position: relative;
    padding-bottom: 75%;
    height: 0px;
}

#panel {
    top: 0px;
    left: 0px;
    width: 80%;
    height: auto;
}
#background {
    position: absolute;
    width: 62%;
    height: auto;
    top: 24%;
    left: 18.8%;
}
#border {
    position: absolute;
    width: 65%;
    height: auto;
    top: 22%;
    left: 17.4%;
}

#icon {
    position: absolute;
    width: 15%;
    height: auto;
    top: 10%;
    left: 43%;
}

#top {
    position: absolute;
    width: 6%;
    height: auto;
    top: 2.5%;
    left: 47%;
}
#left {
    position: absolute;
    width: 5.5%;
    height: auto;
    top: 46.1%;
    left: 12%;
    transform: rotate(180deg);
}
#right {
    position: absolute;
    width: 5.5%;
    height: auto;
    top: 46.1%;
    right: 12%;
}
#bottom {
    position: absolute;
    width: 5.5%;
    height: auto;
    bottom: 12.8%;
    left: 47.35%;
    transform: rotate(180deg);
}
#leftTop {
    position: absolute;
    width: 7%;
    height: auto;
    top: 19%;
    left: 15%;
    transform: rotate(90deg);
}
#rightTop {
    position: absolute;
    width: 7%;
    height: auto;
    top: 19%;
    right: 15%;
    transform: scaleX(-1) rotate(90deg);
}
#rightBottom {
    position: absolute;
    width: 7%;
    height: auto;
    bottom: 19%;
    right: 15%;
    transform: scaleX(-1) rotate(0deg);
}
#leftBottom {
    position: absolute;
    width: 7%;
    height: auto;
    bottom: 19%;
    left: 15%;
}
  
.grid {
    position: absolute;
    display: grid;
    grid-column-gap: 1.5%;
    grid-row-gap: 2%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 61.65%;
    height: 51%;
    top: 24%;
    left: 19.1%;
  }
.grid .box:hover {
    background-image: url("TechTestComponents/Images/InventoryMain/IMG_SlotHighlight.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
  
.box {
    cursor: move;
}
.grid div {
    display: flex;
    justify-content: center;
}

.apple {
    width: 49%;
    height: 51%;
    transform: translate(0%, 55%);
}
.book {
    width: 56%;
    height: 44%;
    transform: translate(0%, 75%);
}
.sword {
    width: 32%;
    height: 68%;
    transform: translate(0%, 25%) scaleX(-1);
}
.flask {
    width: 45%;
    height: 55%;
    transform: translate(0%, 45%);
}
.herbs {
    width: 46%;
    height: 54%;
    transform: translate(0%, 50%);
}

@font-face {
    font-family: 'Railway';
    src: url('TechTestComponents/Fonts/NumericsFont.otf');
}
.two {
    position: absolute;
    font-size: 1vw;
    font-family: 'Railway';
    color: #895724;
    transform: translate(-150%, -50%);
}
.one {
    position: absolute;
    font-size: 1vw;
    font-family: 'Railway';
    color: #895724;
    transform: translate(-250%, -50%);
}

.tooltip {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    padding: 4%;
    min-width: 15%;
    /* border-radius: 5px; */
    background-image: url("TechTestComponents/Images/Tooltip/IMG_TooltipPanel.png");
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0;
    color: #895724;
    font-size: 0.8vw;
    transition: opacity 500ms, transform 500ms;
    transform: translate(72%, 55%);
    /* border: solid white; */
}
.tooltip p {
    transform: translate(0%, -50%);
}
  
.grid .box:hover .tooltip {
    opacity: 1;
}